<form [formGroup]="exampleForm">
  <mat-form-field appearance="outline">
  <mat-label>Email</mat-label>
    <input
      formControlName="email"
      placeholder="Enter email"
      matInput
      (input)="onInput($event)"
    />
    <mat-hint>Enter some email</mat-hint>
    <mat-error mfuErrorMessage></mat-error>
    </mat-form-field>
    <mfu-input label="Username" type="text" controlName="username" [required]="true" hint="Enter some cool username" (blur)="onBlur($event)" (focus)="onFocus($event)" (input)="onInput($event)"/>
    <mfu-textarea controlName="description" label="description" hint="Write something about you..." [rows]="13" [cols]="1"></mfu-textarea>
    <mfu-select [items]="someSelectItems" controlName="someSelect" [multiple]="true"></mfu-select>
  </form>