<form [formGroup]="exampleForm" (confirmedSubmit)="onSubmit($event)" mfuSubmitConfirm >
  <mfu-form-status-indicator [showAnimation]="true" [statusHeight]="10" invalidColor="#e85b34" validColor="#11a649"/>
  <mat-form-field appearance="outline">
  <mat-label>Email</mat-label>
    <input
      formControlName="email"
      placeholder="Enter email"
      matInput
      (input)="onInput($event)"
    />
    <mat-hint>Enter some email</mat-hint>
    <mat-error mfuErrorMessage></mat-error>
    </mat-form-field>
    <mfu-input label="Username" type="text" controlName="username" [required]="true" hint="Enter some cool username" (blur)="onBlur($event)" (focus)="onFocus($event)" (input)="onInput($event)"/>
    <mfu-password-input controlName="password" type="text"></mfu-password-input>
    <mfu-textarea controlName="description" label="description" hint="Write something about you..." [rows]="13" [cols]="1"></mfu-textarea>
    <mfu-select [items]="someSelectItems" controlName="someSelect" [multiple]="true"></mfu-select>

    <button mat-raised-button color="basic" type="button" (confirmedClick)="onClick($event)" mfuClickConfirm>Some other action</button>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>